<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">


        <header class="navigation">
            <div>
                <h1 v-text="sitename"></h1>
            </div>

            <div style="align-self: center;">
                <button v-on:click="toggleShowProduct">

                    {{ cartCountItems }}
                    <span class="fas fa-shopping-cart"></span> Checkout
                </button>
            </div>
        </header>

        <div v-if="showProduct">
            <div class="class_windows" v-for="product in sortedProducts">
                <div id="panel_layout">
                    <div id="text_layout">
                        <img id="img" v-bind:src="product.imgSRC" v-bind:alt="product.imgALT" />
                        <p v-text="product.title"></p>
                        <p v-text="product.location"></p>
                        <p>Price: £{{product.price}}</p>
                        <p>Assigned Spaces: {{ product.spaces }} </p>
                        <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to cart</button>
                        <button id="disabledbutton" disabled="disabled" v-else>Add to cart</button>
                        <span v-if="itemsLeft(product) === 0">
                            No spaces available!
                        </span>
                        <span v-else-if="itemsLeft(product) < 5">
                            Only {{itemsLeft(product)}} left!
                        </span>
                        <span v-else>
                            Buy Now!
                        </span>

                        <div>
                            <span v-for="n in product.rating">★</span>
                            <span v-for="n in 5 - product.rating">☆</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="welcome_page" v-else>
            Welcome!

            <p>
                <strong>Name: </strong>
                <input type="text" v-model.trim="order.name">
            </p>
            <p>
                <strong>Surname: </strong>
                <input type="text" v-model.trim="order.surname">
            </p>
            <p>
                <strong>State</strong>
                <select v-model="order.state">
                    <option disabled>Select State</option>
                    <option v-for="(state, key) in states" v-bind:value="state"> {{key}} </option>
                </select>
            </p>
            <p>
                <strong>ZIP/Posal Code: </strong>
                <input type="text" v-model.trim="order.zip">
            </p>
            <p>
                <input type="checkbox" id="gift" v-model="order.gift" v-bind:true-value="order.sendGift"
                    v-bind:false-value="order.dontSendGift">
                <label for="gift">Send as a gift?</label>
            </p>
            <p>
                <input type="radio" id="home" value="Home" v-model="order.method">
                <label for="home">Home</label>
                <input type="radio" id="business" value="Business" v-model="order.method">
                <label for="business">Business</label>
            </p>

            <h2>Order Information</h2>
            <p>
                <strong>Name: </strong> {{order.name}}
            </p>
            <p>
                <strong>Surname: </strong> {{order.surname}}
            </p>
            <p>
                <strong>State: </strong> {{order.state}}
            </p>
            <p>
                <strong>ZIP/Postal Code: </strong> {{order.zip}}
            </p>
            <p>
                <strong>Gift? </strong> {{order.gift}}
            </p>
            <p>
                <strong>Deliver to adress: </strong> {{order.method}}
            </p>
            <button id="submit_checkout" v-on:click=" submitCheckoutForm">Place Order</button>

        </div>

        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    sitename: "Classes Shop",
                    showProduct: true,
                    products: products,
                    cart: [],
                    order: {
                        name: "",
                        surname: "",
                        zip: "",
                        state: "",
                        gift: "Don't send as a gift.",
                        sendGift: "Send as a gift.",
                        dontSendGift: "Don't send as a gift.",
                        method: "Home"
                    },
                    states: {
                        AL: 'Alabama',
                        AR: 'Arizona',
                        CA: 'California',
                        NV: 'Nevada'
                    },
                },
                methods: {
                    addToCart: function (product) {
                        this.cart.push(product.id);
                    },
                    toggleShowProduct: function () {
                        this.showProduct = this.showProduct ? false : true;
                    },
                    submitCheckoutForm: function () {
                        alert("Congratulations, order submitted!");
                    },
                    canAddToCart: function (product) {
                        return product.spaces > this.cartCount(product.id);
                    },
                    cartCount: function (id) {
                        let count = 0;
                        for (let i = 0; i < this.cart.length; i++) {
                            if (this.cart[i] === id) {
                                count++;
                            }
                        }
                        return count;
                    },
                    itemsLeft: function (product) {
                        return product.spaces - this.cartCount(product.id);
                    }
                },
                computed: {
                    cartCountItems: function () {
                        return this.cart.length || "";
                    },
                    sortedProducts: function () {
                        function compare(a, b) {
                            if (a.price > b.price) return 1;
                            if (a.price < b.price) return -1;
                            return 0;
                        }

                        return this.products.sort(compare);
                    }
                }
            });
        </script>
</body>

</html>